<div class="row">
    <div class="card mb-3 col-md-9 col-12">
        <div class="row g-0">
            <div class="col-md-4" style="height:300px; overflow:hidden;">
                <img src={{user.get_image}} class="img-fluid w-100 rounded w-100 img-fluid" alt={{user.first_name}}>
            </div>
            <div class="col-md-8 row">
                <div class="col-md-6">
                    <div class="card-body">
                        <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
                        <div class="card-text">{{user.email}}</div>
                        {% if user.mobile != None %}
                            <div class="card-text">{{user.mobile}}</div>
                        {% endif %}
                        <div class="card-text">{{user.ciudad}}</div>

                        {%if user.type_id == 2%}
                            <div class="card-text">{{user.descripcion_personal}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                        {%if user.type_id == 2%}
                            {% if especialidad != None %}
                            <h5 class="titulo__perfil">especialista en<h5>
                                <ul>
                                    {% for esp in especialidad %}
                                    <li class="li__especialidades">
                                        {{esp.especialidad}}
                                    </li>
                                    {% endfor %}
                                </ul>
                                
                            {% endif %}
                        {% endif %}
    
                </div>
            </div>
        </div>
    </div>
</div>