{% load static %}
<section id="comentarios" class="pt-5 pb-5" style="background:#191919">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 d-flex justify-content-center title">
                <h3 style="color:white" class="fs-1">Comentarios</h3>
            </div>
            <div class="row">
                {% if request.user.email %}
                    <div class="col-12">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                {% for field in comentForm %}
                                    {% if not forloop.last %}
                                        <div class="col-11 col-md-4 mt-3">
                                            <div class="text-center " style="color:white;">{{field.label}}</div>
                                            {{field}}
                                        </div>
                                        {% else %}
                                        <div class="col-11 col-md-4 mt-3">
                                            <div class="row d-flex justify-content-center">
                                                <div class="text-center " style="color:white;">{{field.label}}</div>
                                                {% for element in field %}
                                                <div class="col-2 mt-2" style="color:white">
                                                    {{element}}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}   
                                        <input type="submit" value="Agregar comentario" class="button-coment w-100 mt-3"/>
                                    </div>
                                </form>
                            </div>
                    {% else %}
                    <div class="col-12 caja-comentarios pt-2 pb-2">
                        <h3 class="text-center" style="color:white;">Debes iniciar sesión para poder comentar</h3>
                    </div>
                {% endif %}


                {% if comentarios %}
                    <div class="col-12 pt-4">
                        <div class="caja-comentarios p-3">
                            <div class="row">

                            {% for comentario in comentarios %}
                                {% if forloop.first %}
                                    <div class="col-12 pb-4">
                                        <h3 class="ps-3" style="color:white">{{comentario.cliente}}</h3>
                                        <p class="ps-5" style="color:white">{{comentario.comentario}}</p>
                                        {% if comentario.get_image != "" %}
                                            <div style="max-width:300px" class="ps-5">
                                                <img src="{{comentario.get_image}}" class="w-100 img-fluid" >
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% else %}
                                    <div class="col-12 comentario pb-4 pt-3">
                                        <h3 class="ps-3" style="color:white">{{comentario.cliente}}</h3>
                                        <p class="ps-5" style="color:white">{{comentario.comentario}}</p>
                                        {% if comentario.imagen != "" %}
                                            <div style="max-width:300px" class="ps-5">
                                                <img src="{{comentario.get_image}}" class="w-100 img-fluid" >
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
