{% load static %}
<section class="service pb-5 pb-3" id="service">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="title">
                <h2>Mis Servicios</h2>
            </div>
            {% for habilidad in habilidades %}
                <div class=" col-12 col-md-3 mt-2"> 
                    <div class="card-especialidad p-3">
                        <i class="{{habilidad.especialidad.icono}} icono m-3" style="color:white"></i>
                        <h5>{{habilidad.especialidad.especialidad}}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


