{% extends 'layout/layout.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block main %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Hay errores en el formulario
        </div>
    {% endif %}
    <div class="col-0 col-md-7">
      <img  src={% static 'images/jobbie.png' %} class="img-fluid" alt="" />
    </div>
    <div class="col-11 col-md-5 d-flex justify-content-center">
        <div class="login-data">
            <h1>Registrarse</h1>
            <form method="POST" class="login-form mt-3">
                {% csrf_token %}
                {{form}}
                
                <input type="submit" value="Registrarse" class="btn-login w-100 mt-3"/>
            </form>
        </div>
    </div>


{% endblock main %}