{% load static %}
<div class="container">
    <div class="row d-flex justify-content-center">
        {% for trabajador in trabajadores %}
            <div class=" col-5 col-md-2 m-1">
                <a href={% url 'perfil' id=trabajador.trabajador.id %} style="text-decoration:none; color:#6288E3;"> 
                    <div class="card">
                        <div style="height:200px; overflow:hidden;" class="card-img-top d-flex justify-content-center">
                            <img src={{trabajador.trabajador.get_image}} class="rounded w-100 img-fluid" alt="{{trabajador.trabajador.first_name}}">
                        </div>
                        <div class="card-body d-flex align-content-around flex-wrap" style="height:200px">
                            <h4 class="card-text">{{trabajador.trabajador.first_name}} {{trabajador.trabajador.last_name}}</h4>
                            <p>Direccion: {{trabajador.trabajador.ciudad}}/{{trabajador.trabajador.ciudad.departamet}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>