<footer class="mt-5" style="border-top:1px solid #6288E3;">

    <div class="row">
           <div class="rounded-social-buttons col-6">
               <h1 class="social">REDES</h1>
               <a class="social-button instagram" href="https://www.instagram.com/businessjobbie/" target="_blank"><i class="fab fa-instagram"></i></a>
           </div>
           <div class="rounded-social-buttons col-6">
               <h1 class="social">CONTACTENOS</h1>
               <label class="social">businessjobbie@gmail.com</label>
           </div>
   </div>

</footer>