<header class="mb-5">
    <nav class="header__navbar">
        <a class="navbar-brand" href={% url 'index' %}>Jobbie</a>
        <ul>
            {% if user.email %}
                    {% if user.type_id == 2 %}
                    <li><a href={% url 'galeriaPropia' pk=request.user.id %}>Galeria de trabajos</a></li>
                    {% endif %}
                    <li><a href={% url 'perfilUpdate' pk=request.user.id %}>{{request.user.first_name}}</a></li>
                    <li><a href={% url 'logout' %}>cerrar sesion</a></li>
                {% else %}
                    <li><a href={% url 'index' %}>Inicio</a></li>
                    <li><a href={% url 'login' %}>Iniciar Sesion</a></li>
                    <li><a href={% url 'register' %}>Registrarse</a></li>
            {% endif %}
        </ul>
    </nav>
</header>