{% load static %}
<header class="mb-5">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href={% url 'index' %}><img src ={% static 'images/boxlogo.png' %} class = "logo" width="200px"></img></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active" href={% url 'index' %}>Inicio</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorías
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% for categoria in especialidades %}
                      <li><a class="dropdown-item" href={% url 'categorias' id=categoria.id %}>{{categoria.especialidad}}</a></li>
                  {% endfor %}
              </ul>
            </li>
            {% if user.email %}
                {% if user.type_id == 2 %}
                <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url 'galeriaPropia' pk=request.user.id  %}>Galeria de trabajos</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url 'perfilUpdate' pk=request.user.id %}>{{request.user.first_name}}</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url 'logout' %}>Cerrar Sesion</a></li>
            {% else %}
                <li class="nav-item"><a href={% url 'login' %} class="btn">Iniciar Sesión</a></li>
                <li class="nav-item"><a href={% url 'register' %} class="btn">Registrarse</a></li>
            {% endif %}
            </ul>
          </div>
        </div>
      </nav>
</header>